@use 'sass:map';

@mixin z-index($key) {
  z-index: map.get($z-index, $key);
}

@mixin indents-classes() {
  @each $index, $size in $class-sizes {
    .m-#{$index} {
      margin: $size !important;
    }
    .mx-#{$index} {
      margin-right: $size !important;
      margin-left: $size !important;
    }
    .my-#{$index} {
      margin-top: $size !important;
      margin-bottom: $size !important;
    }
    .ml-#{$index} {
      margin-left: $size !important;
    }
    .mr-#{$index} {
      margin-right: $size !important;
    }
    .mt-#{$index} {
      margin-top: $size !important;
    }
    .mb-#{$index} {
      margin-bottom: $size !important;
    }

    .p-#{$index} {
      padding: $size !important;
    }
    .px-#{$index} {
      padding-right: $size !important;
      padding-left: $size !important;
    }
    .py-#{$index} {
      padding-top: $size !important;
      padding-bottom: $size !important;
    }
    .pl-#{$index} {
      padding-left: $size !important;
    }
    .pr-#{$index} {
      padding-right: $size !important;
    }
    .pt-#{$index} {
      padding-top: $size !important;
    }
    .pb-#{$index} {
      padding-bottom: $size !important;
    }
  }
}

@mixin global-classes() {
  .d-b {
    display: block !important;
  }

  .d-i {
    display: inline !important;
  }

  .d-ib {
    display: inline-block !important;
  }

  .d-f {
    display: flex !important;
  }

  .d-if {
    display: inline-flex !important;
  }

  .d-n {
    display: none !important;
  }

  .fd-r {
    flex-direction: row !important;
  }

  .fd-rr {
    flex-direction: row-reverse !important;
  }

  .fd-c {
    flex-direction: column !important;
  }

  .fd-cr {
    flex-direction: column-reverse !important;
  }

  .fw-w {
    flex-wrap: wrap !important;
  }

  .fw-n {
    flex-wrap: nowrap !important;
  }

  .jc-fs {
    justify-content: flex-start !important;
  }

  .jc-fe {
    justify-content: flex-end !important;
  }

  .jc-c {
    justify-content: center !important;
  }

  .jc-sb {
    justify-content: space-between !important;
  }

  .jc-sa {
    justify-content: space-around !important;
  }

  .jc-se {
    justify-content: space-evenly !important;
  }

  .ai-fs {
    align-items: flex-start !important;
  }

  .ai-fe {
    align-items: flex-end !important;
  }

  .ai-c {
    align-items: center !important;
  }

  .ai-s {
    align-items: stretch !important;
  }

  .as-fs {
    align-self: flex-start !important;
  }

  .as-fe {
    align-self: flex-end !important;
  }

  .as-c {
    align-self: center !important;
  }

  .as-s {
    align-self: stretch !important;
  }

  .ac-c {
    align-content: center !important;
  }

  .fs-0 {
    flex-shrink: 0 !important;
  }

  .fs-1 {
    flex-shrink: 1 !important;
  }

  .fs-2 {
    flex-shrink: 2 !important;
  }

  .fg-1 {
    flex-grow: 1 !important;
  }

  .w-50 {
    width: 50% !important;
  }

  .w-100 {
    width: 100% !important;
  }

  .h-50 {
    height: 50% !important;
  }

  .h-100 {
    height: 100% !important;
  }

  .grid-gap-8 {
    gap: 8px !important;
  }

  .grid-gap-12 {
    gap: 12px !important;
  }

  .grid-gap-16 {
    gap: 16px !important;
  }

  .box-shadow {
    box-shadow: 0 0 35px 0 rgba($color--black, 0.06);
  }

  .of-cover {
    object-fit: cover !important;
  }

  .of-contain {
    object-fit: contain !important;
  }

  .py-20-sa {
    padding-top: 20px;
    padding-bottom: calc(20px + var(--f7-safe-area-bottom));
  }
}
