django == 4.2.8
psycopg2 == 2.9.9
python-decouple == 3.8
djangorestframework == 3.14.0
pillow == 10.1.0
drf-yasg == 1.21.7
django-cors-headers == 4.3.1
python-jose == 3.3.0
django-jsonfield-backport == 1.0.5
jsonfield == 3.1.0
django-ckeditor == 6.7.0
django-multiupload == 0.6.1
django-multiselectfield == 0.1.12
django-filter == 23.5
django-haystack >= 3.0.0
drf-haystack == 1.8.13
whoosh == 2.7.4
drf_haystack == 1.8.13
gunicorn == 21.2.0
python-dotenv == 1.0.0
django-ranged-response == 0.2.0
django-ranged-fileresponse == 0.1.2
django-unused-media == 0.2.2
django_cleanup == 8.0.0
django-sortedm2m == 3.1.1
django-admin-sortable2 == 2.1.10
django-nested-admin == 4.0.2
